@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Monaspace Neon", "Hack Nerd Font", "JetBrainsMono Nerd Font", FontAwesome;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: alpha(@base00, 0.7);
  color: #cdd6f4;
}

tooltip {
  background: @base02;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: @base01;
}

#custom-shutdown,
#tray,
#custom-notifications,
#pulseaudio,
#bluetooth,
#window,
#custom-waybar-mpris,
#mpris,
#cpu,
#custom-gpu,
#memory,
#network,
#clock {
  padding: 2px 10px;
  color: #eeeeee;
}

#custom-shutdown {
  color: @base08;
  border-color: @base08;
}

#tray {
  color: @base09;
  border-color: @base09;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#custom-notifications {
  color: @base0A;
  border-color: @base0A;
}

#pulseaudio {
  color: @base0B;
  border-color: @base0B;
}

#bluetooth {
  color: @base0C;
  border-color: @base0C;
}

#window {
  color: @base0D;
  border-color: @base0D;
}

#custom-waybar-mpris {
  border-radius: 8px;
  color: @base0F;
  border-color: @base0F;
}

#mpris {
  border-radius: 8px;
  color: @base0F;
  border-color: @base0F;
}

#cpu {
  color: @base0C;
  border-color: @base0C;
}

#custom-gpu {
  color: @base0B;
  border-color: @base0B;
}

#memory {
  color: @base0A;
  border-color: @base0A;
}

#network {
  color: @base09;
  border-color: @base09
}

#clock {
  color: @base08;
  border-color: @base08;
}
